body{


	
}

.sidebar{
	background: #2ecc71;
}

.container-full-width{
	width: 100%;
	padding: 20px;
}

.profile_container{
	width: 100%;
	color: #ffffff;
	text-align: center;
	display: inline;
}
.profile_container span{
	float: right;
}

.profile_container img{
	
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	width: 100px;
	height: 100px;
	display: inline;
}
.profile_heading{
	display: inline;;
}

.sidebar-nav-item{
	
	width: 100%;

}

.sidebar-nav-item.active a{
	
	width: 100%;
	background: #27ae60;
	padding: 10px;
	
}

.jumbo-banner {
	width: 100%;
	background: url("../images/komputer.jpg") no-repeat center bottom fixed;
	height: 400px;
	-webkit-background-size: cover;
    -moz-background-size: cover;
	-o-background-size: cover;
     background-size: cover;

}
.jumbo-banner-for-article {
	width: 100%;
	background: url("../images/2d-animation-banner.jpg") no-repeat bottom fixed;
	height: 400px;
	-webkit-background-size: cover;
    -moz-background-size: cover;
	-o-background-size: cover;
     background-size: cover;
}

.chrome_webstore_button{
	width:400px;
	height: 100px;
	background: url("../images/chrome-webstore-icon.png") no-repeat right bottom;
	z-index: 989819812;
	float: right;
	position: relative;
	bottom: 0px;
	top: 150px;
	right: 10px;
	
}

.fb-plugins{
	width: 500px;
	height: 100px;
	margin-top: 30px;

}

.row{
	width: 100%;
	height: 100px;
}

.chatminion_logo{

	width:33.3%;
	height: 150px;
	z-index: 989819812;
	float: left;
	position: relative;
	top:100px;
	display: inline-block;
	background-color: white;
}

.chatminion-wh-questions{
	width:60%;
	height: 150px;
	float: left;
	display: inline-block;
	z-index: 989819812;
	color: #ffffff;
	position: relative;
	top:50px;
	padding: 10px;
	margin-left: 15px;
}

.chatminion-wh-questions a{
	color: #ffffff;
	font-weight: 600;
	font-size: 30px;
	width: 100%;
	float: left;
	text-decoration: none;
}

.chatminion-wh-questions a:hover{
	
	text-decoration: underline;
}

.inline-image{
	
	-webkit-box-shadow: 6px 0px 17px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    6px 0px 17px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         6px 0px 17px 0px rgba(50, 50, 50, 0.75);
	margin-top: 5px;
	
}

.profile_picture{
	border-radius: 100px;
	display: inline;
}

.screenshots{
	display: block;
	clear: both;
	text-align: center;
	padding: 20px;
		
}
.screenshots img{
	float: left;
	width: 550px;
	margin:40px;
	height: 400px;
}

.pending {
	width: 100%;
	height: 100%;
	color: #2ecc71;
	font-size: 24px;
}

.article-headline {
	font-size: 80px;
	color: white;
	font-weight: 80;
	width: 100%;
	padding: 40px;
	text-shadow: -1px 0px 2px rgba(150, 150, 150, 1);
}

.signature {
 font-size:20px;
 width: 170px;
 background-color: #eb1653;
 text-align: left;
 padding-left: 10px;
 color: #fff;
}

.signature span{
	display: inline-block;
	font-size:15px;
}

.keyboard-strokes-image {
	margin: 0px;
	width: 800px;
}

@media screen and (max-width: 900px) and (min-width: 400px) {
	.article-headline {
  font-size: 50px;
 }
}
@media screen and (max-width: 400px) and (min-width: 200px) {
	.article-headline {
  font-size: 40px;
 }
}

.content-padding {
 padding: 60px;
}

.video-holder {
			width: 853px;
		 height: 480px;
		 margin: 0px auto;
}

.bubble {
		width: 25px;
		height: 25px;
		position: relative;
		bottom: 0px;
		display: inline-block;
		margin: 0px auto;
		background-image:url('/public/images/blue-ball.png');
		-webkit-animation-name: bubble_moving_up; /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
  animation-name: bubble_moving_up;
  animation-iteration-count: infinite;

}

@keyframes bubble_moving_up {
		0%   {bottom: 0px; opacity:1;}
		100% {bottom: 600px; opacity:0;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes bubble_moving_up {
			0%   {bottom: 0px; opacity:1;}
		100% {bottom: 600px; opacity:0;}
}
