.blueblack{
	background-color:#263238;
}
.bluegrey{
	background-color:#607d8b;
}
.grey{
	background-color:#9e9e9e;
}
.darkgreen{
	background-color:#004d40;
}
.darkblue{
	background-color:#006064;
}

.purple-500{
	background-color: #9c27b0;
}

.red-600{
	background-color: #dd191d;
}
.pink-900{
	background-color: #880e4f;
}

.indigo-800{
	background-color: #283593;
}
.brown-200{

	background-color: #bcaaa4;
}

.green-a400{

	background-color: #14e715;

}
.lime-a200{
	background-color: #eeff41;
}

a.live-anchor{
	color: #283593;
	font-weight: bolder;
	font-size: 24px;
}

a.blog-post{
	color: #283593;
	font-weight: bolder;
	font-size: 24px;
}

ul.thumbnail-holder{
	width: 100%;
	min-height: 200px;
	clear: both;
	margin-top: 10px;
	margin-bottom: 10px;
}
.container-full-width{
	width: 100%;
	padding: 40px;
}

.video-holder iframe{
	height: 400px;

}

.badge-holder{
	
	width: 100%;	
	
	clear: both;

}

.project-container{
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}

.project-container h2 {

	  

}



/*** Some media query **/

@media (max-width: 600px) {


	.content{
	
	margin-left: 0px;
	margin-right: 0px;

	}
	
	.made-with-tags{
		display: block;
		
	}



	.video-holder {
		width: 100%;
		height: 300px;

	}

	.badge-holder{
		display: block;
	}
	
.project-container{
	width: 100%;
	min-height: 600px;
	max-height: 1000px;
	padding: 10px;

	}

	ul.thumbnail-holder{
	width: 100%;
	

}

 .project-container img{
 	
 	display: block;
 	

 	}

ul.thumbnail-holder li:not(.badge-holder){

	clear: both;
}

ul.thumbnail-holder li{

}


ul.thumbnail-holder  li:nth-of-type(1n+4) {display: none;} 

a.live-anchor{
display: block;
	
	

}

a.blog-post{
	display: block;
	

}



.short-description {
 		
 		width: 100%;
 		min-height: 100px;
 		max-height: 200px;
		margin-top: 10px;
 	}


}


/*** end media query **/




ul.thumbnail-holder li:not(.badge-holder){

	list-style: none;
	margin-left: 10px;
	float: left;
	border-radius: 3px;
	-webkit-box-shadow: -5px 10px 71px -18px rgba(0,0,0,0.69);
	-moz-box-shadow: -5px 10px 71px -18px rgba(0,0,0,0.69);
	box-shadow: -5px 10px 71px -18px rgba(0,0,0,0.69);

}

.screenshot-description{

	color: #f50057;
	border-top:1px solid #f50057;
	width: 100%;

}

.description-holder{
	


}
	.made-with-tags {
		width: 100%;
		height: 50px;
		font-size: 25px;
		position: relative;
		top: 40px;
	}

 	.made-with-tags a {
 		color: #9c27b0;
 		font-weight: bolder;
 		margin-left: 5px;
 		float: left;
		text-decoration: none;
		border-radius: 5px;
 	}

 	.short-description {
 		
 		width: 100%;
		min-height: 100px;
 		max-height: 200px;
		margin-top: 10px;
 	}

.project-listing{
	margin:0px auto;
}
.project-listing li{
	
	list-style: none;
	color: #eb1653;
	letter-spacing: 3px;
	text-transform: capitalize;
	font-weight: bolder;

}
.posters-holder{
	width: 100%;
}
.posters-holder img{
	width: 500px;
	height: 450px;
}
