.blueblack{
	background-color:#263238;
}
.bluegrey{
	background-color:#607d8b;
}
.grey{
	background-color:#9e9e9e;
}
.darkgreen{
	background-color:#004d40;
}
.darkblue{
	background-color:#006064;
}

.purple-500{
	background-color: #9c27b0;
}

.red-600{
	background-color: #dd191d;
}
.pink-900{
	background-color: #880e4f;
}

.indigo-800{
	background-color: #283593;
}
.brown-200{

	background-color: #bcaaa4;
}

.green-a400{

	background-color: #14e715;

}
.lime-a200{
	background-color: #eeff41;
}

a.live-anchor{
	color: #283593;
	font-weight: bolder;
	font-size: 24px;
}

a.blog-post{
	color: #283593;
	font-weight: bolder;
	font-size: 24px;
}

ul.thumbnail-holder{
	width: 100%;
	height: 120px;
	clear: both;
	margin-top: 10px;

}

.video-holder{
	
	position: relative;
	width: 400px;
	height: 250px;
	left: 50px;
	bottom: 10px;

}

.badge-holder{

	list-style: none;
	margin-left: 10px;
	float: left;
	border-radius: 3px;
	position: relative;
	left: 50px;
	right: 50px;

}

.project-container{
	width: 100%;
	padding: 10px;
	height: 400px;
	position: relative;
	-webkit-box-shadow: -7px -15px 24px -20px rgba(0,0,0,0.75);
-moz-box-shadow: -7px -15px 24px -20px rgba(0,0,0,0.75);
box-shadow: -7px -15px 24px -20px rgba(0,0,0,0.75);
margin-bottom: 10px;
}

.project-container h2 {

	  

}



/*** Some media query **/

@media (max-width: 30rem) {

	
	.made-with-tags{
		display: block;
	}

	.video-holder{
		display: block;
	}

	.badge-holder{
		display: block;
	}
	
.project-container{
	width: 100%;
	min-height: 600px;
	max-height: 800px;
	padding: 10px;

	}

	ul.thumbnail-holder{
	width: 100%;
	

}

 .project-container img{
 	
 	display: block;
 	

 	}

ul.thumbnail-holder li:not(.badge-holder){

	clear: both;
}

ul.thumbnail-holder li{

}


ul.thumbnail-holder  li:nth-of-type(1n+4) {display: none;} 

a.live-anchor{

	display: block;
	margin: 10px;
}

a.blog-post{
	display: block;
	margin: 10px;
}


}


/*** end media query **/




ul.thumbnail-holder li:not(.badge-holder){

	list-style: none;
	margin-left: 10px;
	float: left;
	border-radius: 3px;
	-webkit-box-shadow: -5px 10px 71px -18px rgba(0,0,0,0.69);
	-moz-box-shadow: -5px 10px 71px -18px rgba(0,0,0,0.69);
	box-shadow: -5px 10px 71px -18px rgba(0,0,0,0.69);

}

.screenshot-description{

	color: #f50057;
	border-top:1px solid #f50057;
	border-bottom:1px solid #f50057;
	width: 100%;

}

.description-holder{
	


}



	
	.made-with-tags {
		width: 100%;
		height: 70px;
		font-size: 15px;
		position: absolute;
 		bottom: 0px;

	}

 	.made-with-tags a {
 		color: #ffffff;
 		padding: 5px;
 		margin-left: 5px;
 		float: left;
		text-decoration: none;
		border-radius: 5px;
 	}

 	.short-description {
 		
 		width: 100%;
 		height: 60px;
		margin-top: 10px;
 	}


