<section class="hero is-medium has-text-centered">
  <div class="hero-head">
    <div class="container">
<nav class="nav">
  <div class="nav-left">
    <a class="nav-item">
      Dinesh & his work life 
    </a>
  </div>
  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div class="nav-right nav-menu">
    <a class="nav-item" href="/project-apps">
      Apps/projects
    </a>
    <a class="nav-item" href="/posters">
      Posters
    </a>
    <a class="nav-item" href="/public/dineshswamy-resume.pdf">
      Resume
    </a>
    <a class="nav-item" href="https://www.codementor.io/dineshswamy">Codementor</a>
    <a class="nav-item" href="https://github.com/dineshswamy">Github</a>
    <a class="nav-item" href="https://www.linkedin.com/in/dineshswamyp/">LinkedIn
    </a>

  </div>

  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <div class="nav-center">
    <a class="nav-item">
      <span class="icon">
        
      </span>
    </a>
    <a class="nav-item">
    </a>
  </div>
</nav>
</div>
</div>
</section>