<div class="site-nav-bar affix">
	<ul class="nav">
		<li><a href="#"> House </a></li>
		<li><a href="#">Works
			<ul class="nav">
					<li><a href="#">NCC ARMY</a></li>
					<li><a href="#">SVCE co-curricular activities</a></li>
					<li><a href="#">Natural language based computer game</a></li>
					<li><a href="#">Code on me - java based text editor</a></li>
					<li><a href="#">Airdraw - app at DROIDCON</a></li>
					<li><a href="#">Chatminion - office chat assitant</a></li>
					<li><a href="#">Towermapify</a></li>
					<li><a href="#">Planhound</a></li>
					<li><a href="#">Bits and bytes for ACE</a></li>
			</ul>
		</a></li>
		</li>
		<li><a href="#">Posters</a></li>
	</ul>
</div>