<!-- <div class="sidebar">
  <div class="profile_container">
    <a href="/">  
    <div class="profile-image">
      <img src="/public/images/nobita-wallpaper.jpg" />
    </div>
    </a>
      <div class="profile-name">
      
      <span class="name">DINESHSWAMY's </span>
      
      <span class="subtitle"> Hacking Logs </span>

      </div>
    
  </div>
  
    <ul class="sidebar-nav">
      
      <li class="sidebar-item ">
        <a href="/" class="sidebar-item-name sidebar-nav-item">/Root</a>
      </li>

      <li class="sidebar-item ">
        <a href="/project-apps/" class="sidebar-item-name sidebar-nav-item">My Projects and Apps</a>
      </li>
    
      <li class="sidebar-item ">
        <a href="/posters/" class="sidebar-item-name sidebar-nav-item">Posters</a>
      </li>


      <li class="sidebar-item ">
        <a href="/public/dineshswamy-resume.pdf" class="sidebar-item-name sidebar-nav-item">Resume</a>
      </li>
      
       <li class="sidebar-item ">
        <a href="http://linkedin.com/in/dineshswamyp/" class="sidebar-item-name sidebar-nav-item">Linked In</a>
      </li>
      
	
       <li class="sidebar-item ">
        <a href="http://dineshswamy.github.io" class="sidebar-item-name sidebar-nav-item">Github</a>
      </li>
    </ul>
</div> -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p> 
      <span class="name">DINESHSWAMY's </span>
      <span class="subtitle"> Hacking Logs </span>
    </p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item active" href="/">Home</a>
    <a class="sidebar-nav-item" href="/about/">About</a>
    <a class="sidebar-nav-item" href="https://github.com/poole/lanyon/archive/v1.0.0.zip">Download</a>
    <a class="sidebar-nav-item" href="https://github.com/poole/lanyon">GitHub project</a>
    <span class="sidebar-nav-item">Currently v1.0.0</span>
  </nav>
  <div class="sidebar-item">
    <p>
      © 2014. All rights reserved.
    </p>
  </div>
</div>










































