<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>
  <div class="jumbo-banner-for-article {{ page.bannerbg_image }}">
    <div>
        <div class="article-headline">
          {{ page.banner_title }}
        </div>
        <div class="signature"> <a href= "/">Dinesh swamy</a> <span>{{ page.date | date_to_string }}</span></div>
    </div>
  </div>
  <div class="container-full-width content-padding">
      {{ content }}
  </div>

  </body>
  <script type="text/javascript" src="/public/js/jquery.js"></script>
  <script type="text/javascript" src="/public/js/jquery.smooth-scroll.min.js"></script>
  <script type="text/javascript" src="/public/js/main.js"></script>
</html>
