<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>
	<div class="jumbo-banner">
		
    <a href="/">
      <div class="chatminion_logo">
        <img src="../public/images/chatminion_logo_transparent.png" />
      </div>
    </a>

    <div class="chatminion-wh-questions">
      <a href="#what-is-chatminion"> What is Chatminion? </a>
      <a href="#how-chatminion-works"> How does it work ? </a>
      <a href="#is-this-an-alternative"> Is this an alternative to other chat applications </a>
      <a href="#who-asked-you"> Who asked you to write this ? </a>
      <a href="#requirements"> Requirements ? </a>
    </div>
  
    <a href="https://chrome.google.com/webstore/detail/chat-minion/mklckopocbigidodenicbaaiecpnfjdf"><div class="chrome_webstore_button"></div></a>

	 </div>


    <div class="content container">

      {{ content }}
    </div>

  </body>
  <script type="text/javascript" src="/public/js/jquery.js"></script>
  <script type="text/javascript" src="/public/js/main.js"></script>
</html>
